<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>INTech Camp for Girls</h2>
		<p>Getting more girls involved INTech through hands-on <br />activities and exposure to women in the field.</p>
		<ul class="actions">
			<li><a href="/donate" class="button">Donate</a></li>
			<li><a href="http://intech.camp/INTechvolunteer" class="button" target="_blank">Volunteer</a></li>
		</ul>
		<ul class="actions">
			<li><a href="/register" class="button special" target="_blank">Register for Camp</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
