<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Our mission:<br />
			To inform and inspire girls to innovate in the technology industry.</h2>
			<p>To achieve our mission, we host Mini-Camps, One-Day Camps, and One Week Camps.<br />
			Each experience covers our 3 piillars: INFORM, INSPIRE, INNOVATE.</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-lightbulb-o major style1"><span class="label">Inform</span></span></li>
			<li><span class="icon fa-female major style2"><span class="label">Inspire</span></span></li>
			<li><span class="icon fa-code major style3"><span class="label">Innovate</span></span></li>
		</ul>
	</div>
</section>