<!-- Two -->
<section id="two" class="wrapper alt style2">
<section class="spotlight">
	<div class="image"><img src="images/inform.jpg" alt="" /></div><div class="content">
		<h2><span class="icon fa-lightbulb-o"> Inform</h2>
		<p>Exposure is everything! Here at INTech, we find it extremely important for INTech Scholars to learn about the foundation of Computer Science and Technology. </br></br>
		INTech Scholars will learn about various forms of technology that span beyond mobile apps and tablets. Scholars will cover themes such as programming languages and thinking logically, among other topics.</p>
	</div>
</section>
<section class="spotlight">
	<div class="image"><img src="images/inspire.jpg" alt="" /></div><div class="content">
		<h2><span class="icon fa-female"> Inspire</h2>
		<p>Hearing about someone else’s journey is always helpful. We bring in industry women who have a background in technology to share with INTech Scholars about their experiences and their paths.</br></br>
		The road to success is not straight so we want INTech Scholars to know that there are many ways that they can use technology to get to where they want to go. Our awesome women speakers share the journey that led them to technology, discuss their favorite projects, and give advice to INTech Scholars to foster creativity and motivation. </p>
	</div>
</section>
<section class="spotlight">
	<div class="image"><img src="images/innovate.jpg" alt="" /></div><div class="content">
		<h2><span class="icon fa-code"> Innovate</h2>
		<p>The most exciting part of the INTech Camp is the innovation. INTech scholars are grouped together in teams to learn how to build technology solutions. Through teamwork, they are able to understand the importance of paired programming. </br></br>
		Teams are also assigned a tech mentor to assist in troubleshooting any issues they may have. Upon completion, the INTech Scholars present their findings, results, projects, etc. to their parents and the community.</p>
	</div>
</section>
</section>