<!-- Three -->
<section id="three" class="wrapper style3 special">
<div class="inner">
	<header class="major">
		<h2>What We Offer</h2>
	<!-- 	<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
		fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p> -->
	</header>
	<ul class="features">
		<li class="icon fa-code">
			<h3>Summer Camps</h3>
			<p>INTech Scholars participate in a 5-day experience where they learn how to build websites. They are placed in teams in which they choose a social issue to focus on for their final product. In addition, Scholars network with women in the industry and participate in company tours.</p>
		</li>
		<li class="icon fa-laptop">
			<h3>One-Day Camps</h3>
			<p>INTech Scholars spend a day engaging in our 3 Pillars, spending the majority of their time producing a technological product that revolves around a social issue of their choice.</p>
		</li>
		<li class="icon fa-paper-plane-o">
			<h3>Mini-Camps</h3>
			<p>A 1-hour experience where women in the industry teach participants about technology and facilitate a CS-Unplugged activity in the classroom.</p>
		</li>
		<li class="icon fa-headphones">
			<h3>High School Club</h3>
			<p>Stay tuned as we plan to pilot a High School Club for girls where they dedicate time after school to learn industry level technology platforms.</p>
		</li>
	</ul>
</div>
</section>